{% extends 'base.html' %}

<!-- 任务配置/规则配置 -->
{% block title %}
    配置页
{% endblock %}


{% block css %}
    body {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #eee;
    }

<!--    body {-->
<!--      background-color: transparent;-->
<!--      transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);-->
<!--      transform-style: preserve-3d;-->
<!--    }-->

{% endblock %}


{% block content %}

    <div class="container">

        <form class="bs-example bs-example-form" role="form" method="post" action="{{ url_for('config') }}">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" id="checkbox_1" name="freebuf">
                        </span>
                        <label id="label_1">freebuf</label>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
                <br>
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" id="checkbox_2" name="anquanke">
                        </span>
                        <label id="label_2" >安全客</label>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
                <br>
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" id="checkbox_3" name="4hou">
                        </span>
                        <label id="label_3" >嘶吼</label>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
                <br>
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" id="checkbox_4"  name="xianzhi">
                        </span>
                        <label id="label_4" >先知</label>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
                <br>
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" id="checkbox_5" name="seebug">
                        </span>
                        <label id="label_5" >seebug</label>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->

            <button type="submit" id="button_1" class="btn btn-block btn-lg btn-primary">开始爬取</button>
        </form>

    </div>

{% endblock %}
