{% extends 'base.html' %}

<!--                                   Effect Display                                         -->
<!------------------------------- Origin: Posts from xz.aliyun.com ----------------------------->
<!--          Title         Author          Tags         Datetime          Links              -->
<!--          *****         ******          ****         ********          *****              -->
<!---------------------------      End of Origin + Separator       ----------------------------->

{% block title %}
    结果页
{% endblock %}


{% block content %}

    <div id="container" align="center" style="width:1125px">

        <img src="{{url_for('static', filename='logo.png')}}" align="center" width="1125px"><br/>
        <h1 align="center"> Breakfast for today: {{date}} </h1><br/>

        <table border="1" align="center" width="1125px">

            <tr align="center">
                <td>Title</td>
                <td>Author</td>
                <td>Tag</td>
                <td>Datetime</td>
                <td>Origin</td>
            </tr>
            {% for post in posts %}
                <tr align="center" >
                    <td><a href="{{post.link}}" target="_blank">{{post.title}}</a></td>
                    <td><a href="{{post.author.link}}" target="_blank">{{post.author.name}}</a></td>
                    <td>{{post.tag}}</td>
                    <td>{{post.datetime}}</td>
                    <td>{{post.origin}}</td>
                </tr>
            {% endfor %}

        </table>
        <hr/>
    </div>
{% endblock %}
